{% extends "plantilla.html" %}

{% block class %}  active {% endblock %}

{% block contenido %}
<h1 class="text-white">BIENVENIDO AL SERVIDOR </h1>
<p class="text-white">Este servidor nace como requerimiento para la materia de ASO de la UMSS. Bautizado con el nombre ADJASO haciendo referencia a la inicial de nuestros nombres: Andrea, David, Jheison. </p>
<p class="text-white">En su primera versión dispone de las siguientes tareas: </p>
<div class="col-lg-6 col-md-6 col-sm-12 col-md-12" id="izquierda">
    <div class="card"  id="Tab1" >
        <div class="card-header text-center"> Clientes</div>
        <div class="card-body d-flex align-items-center">
            <div class="col-6" id="icon-card"><span ><i class="fa fa-user fa-5x"></i> </span></div>
            <div class="col-6">   <p>En esta sección podra crear clientes que estén interesados en alojar sus sitios web en nuestro servidor.</p>   </div>
        </div>
    
        <div class="card-footer text-center"> <a  href="{% url 'clientes' %}" class="btn btn-primary">Ver clientes</a> </div>
      </div> 
</div> 
<div class="col-lg-6 col-md-6 col-sm-12 col-md-12" id="derecha">
    <div class="card"  id="Tab1">
        <div class="card-header text-center"> Sitios Web</div>
        <div class="card-body d-flex align-items-center">
            <div class="col-6" id="icon-card"><span ><i class="fa fa-firefox-browser fa-5x"></i> </span></div>
            <div class="col-6"><p>En esta sección podra asociar un cliente con un sitio ó un dominio de nuestro servidor que será creado por usted mismo.</p></div>
            
         
        </div>
        <div class="card-footer text-center"><a href="{% url 'sitios' %}" class="btn btn-primary">Ver Sitios</a> </div>
      </div>
</div>

{% endblock %}
